html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
    padding-top: 80px;
}


h1 {
    color: #222;
    font-size: 36px;
}

p {
    font-size: 18px;
    color: #555;
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 14px 26px;
    background-color: #25D366;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
}
h2 {
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 28px;
}

.package {
    background: white;
    width: 280px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
}

.package h3 {
    margin-bottom: 10px;
}

.package strong {
    display: block;
    margin-top: 10px;
    color: #25D366;
    font-size: 20px;
}
@media (max-width: 600px) {

    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 22px;
    }

    p {
        font-size: 16px;
    }

    .package {
        width: 90%;
    }

    body {
        padding-top: 40px;
    }
}
